<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".activity.BookedTicketActivity"
            android:exported="true"
            android:parentActivityName=".activity.HomeActivity"/>
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.PaymentSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PayActivity"
            android:exported="true"
            android:parentActivityName=".activity.BusSeats" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BusSeats"
            android:exported="true"
            android:parentActivityName=".activity.Buses" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Buses"
            android:exported="true"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.Routes"
            android:exported="true"
            android:parentActivityName=".activity.Buses" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_g2iGXt2zlEDVHe" />
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>